astroid==1.4.4
colorama==0.3.6
coverage==4.0.3
defusedxml==0.4.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.9.2
django-admin-sortable==2.0.10
django-braces==1.8.1
django-cors-headers==1.1.0
django-extensions==1.6.1
django-filter==0.12.0
django-oauth-toolkit==0.10.0
django-toolbelt==0.0.1
djangorestframework==3.2.5
feedparser==5.2.1
gunicorn==19.4.5
inflection==0.3.1
lazy-object-proxy==1.2.1
mysqlclient==1.3.7
oauthlib==1.0.3
psycopg2==2.6.1
PyJWT==1.4.0
pylint==1.5.4
pylint-django==0.7.1
pylint-plugin-utils==0.2.3
python-social-auth==0.2.14
python3-openid==3.0.9
PyYAML==3.11
requests==2.9.1
requests-oauthlib==0.6.0
rest-framework-ember==1.3.2
six==1.10.0
static3==0.6.1
wheel==0.26.0
wrapt==1.10.6
